body {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-weight: normal;
}

#picker {
  position: absolute;
  right: 0;
  bottom: 60px;
}

.sent-checkmark {
  position: absolute;
  right: 0;
  bottom: 0;
}

.message {
  position: relative;
}

.sticky-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  background-color: #D4D4DCDD;
  z-index: 1;
}

.sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #D4D4DCDD;
  z-index: 1;
}

.footer-padding {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.message-content {
  padding-bottom: 50px;
  padding-top: 100px;
}

.message-input {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  flex-grow: 8;
  padding-left: 10px;
  padding-top: 5px;
  resize: none;
}

.message-input:focus {
  outline: none; /* Adjust to suit your tastes */
}

.upload-button {
  flex-grow: 1;
}

.color-1 {
  color: #1F2A32;
}

.row {
  display: block;
  margin: 0;
  padding-bottom: 5px;
}

section.message-display {
  margin: 100px auto;

  div {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.clear {clear: both}
.from-me {
  position:relative;
  padding:10px 20px;
  color:white;
  background:#0B93F6;
  border-radius:25px;
  float: right;
  margin-bottom: 3px;

  &:before {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:-2px;
    right:-7px;
    height:20px;
    border-right:20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform:translate(0, -2px);
  }

  &:after {
    content:"";
    position:absolute;
    z-index:1;
    bottom:-2px;
    right:-56px;
    width:26px;
    height:20px;
    background:white;
    border-bottom-left-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
  }
}
.from-them {
  position:relative;
  padding:10px 20px;
  background:#E5E5EA;
  border-radius:25px;
  color: black;
  float: left;

  &:before {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-2px;
    left:-7px;
    height:20px;
    border-left:20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform:translate(0, -2px);
  }

  &:after {
    content:"";
    position:absolute;
    z-index:3;
    bottom:-2px;
    left:4px;
    width:26px;
    height:20px;
    background:white;
    border-bottom-right-radius: 10px;
    -webkit-transform:translate(-30px, -2px);
  }
}
